<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="UseConcurrency" value="true"/>
    <add key="BasePath" value="../../Data"/>
    <add key="ConfigurationFileName" value="Configuration.txt"/>
    <add key="InputDataFileName" value="InputData.txt"/>
    <add key="OutDataFileName" value="OutputData.txt"/>
  </appSettings>
</configuration>